<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BaoAnEIM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E877B8051FFF53320091587B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E877B81D1FFF53330091587B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E877B8281FFF53330091587B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
