<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WanveOA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E8C8F52C1FB2AE7E00220C26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8C8F5451FB2AE7F00220C26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8C8F5501FB2AE7F00220C26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
