<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WanvePadOA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E80B21BD1FCE47EC00DCC8BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E80B21D51FCE47ED00DCC8BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E80B21E01FCE47ED00DCC8BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
