<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ATake.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E85960B21FFB5BBB00224316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E85960CA1FFB5BBC00224316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E85960D51FFB5BBC00224316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
